<p id="id">ID: {{user.id}}</p>
<p id="username">Username: {{user.username}}</p>
<p id="name">Name: {{user.displayName}}</p>
<p id="email">Email: {{email}}</p>
<p id="url">url: <a href="{{user.profileUrl}}">github profile</a></p>

